{% extends 'user_layout.twig' %}

{% block title %}CRUD Announcements{% endblock %}
{% block content %}
    <div class="flex justify-center items-center w-full mb-5">
        <a href="./create_announcement" class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-lg">
            <span>Create Announcement</span>
        </a>
    </div>
    <div class="max-w-screen-xl mx-auto grid gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3">
        {% for announcement in announcements %}
            {% if announcement.title is not empty and announcement.content is not empty %}
                {% set hash = announcement.id %}
                <!-- Announcement Card Container -->
                <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg">
                    <div class="bg-blue-500 text-white px-6 py-4 rounded-t flex justify-center items-center">
                        <h2 class="text-2xl font-semibold overflow-hidden line-clamp-1 font-chinese">{{ announcement.title }}</h2>
                    </div>
                    <div class="p-6">
                        <p class="text-gray-700 dark:text-gray-300 max-h-60 overflow-hidden font-chinese">
                        <p class="text-gray-700 dark:text-gray-300 max-h-60 overflow-hidden font-chinese">
                            {% if announcement.summary is empty %}
                                {{ announcement.content|raw }}
                            {% else %}
                                {{ announcement.summary|raw }}
                            {% endif %}
                        </p>
                        <p class="text-gray-500 dark:text-gray-400 mt-4 italic text-right flex justify-start">
                            {{ announcement.created_at }}
                        </p>
                        <div class="mt-2">
                            <button class="text-blue-500 hover:underline" onclick="openModal('{{ hash }}')">More...</button>
                        </div>
                    </div>
                </div>
                <div id="modal-{{ hash }}" class="fixed inset-0 z-50 hidden">
                    <div class="fixed inset-0 bg-black opacity-50"></div>
                    <div class="flex items-center justify-center min-h-screen px-4">
                        <div class="bg-white dark:bg-gray-800 border-2 border-gray-700 rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
                            <div class="absolute top-2 right-2">
                                <button type="button" class="text-gray-800 dark:text-white" onclick="closeModal('{{ hash }}')">
                                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="p-6">
                                <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200 font-chinese hover:cursor-text hover:italic" contenteditable="true" data-content="title-{{ hash }}">
                                    {{ announcement.title }}
                                </h3>
                                <p class="dark:text-white font-chinese text-left p-3">
                                    <strong>Summary:</strong> <span data-content="summary-{{ hash }}" contenteditable="true" class="hover:cursor-text hover:italic">{{ announcement.summary }}</span>
                                </p>
                                <p class="dark:text-white font-chinese text-left px-3 pt-3">
                                    <strong>Content:</strong>
                                </p>
                                <p class="dark:text-white font-chinese font-light text-left px-3 pb-3 hover:cursor-text hover:italic" data-content="content-{{ hash }}" contenteditable="true">{{ announcement.content|raw }}</p>
                                <p class="dark:text-white font-chinese text-left p-3">
                                    <strong>Created At:</strong> {{ announcement.created_at }}
                                </p>
                                <p class="dark:text-white font-chinese text-left p-3">
                                    <strong>Updated At:</strong> {{ announcement.updated_at }}
                                </p>
                                <div class="mt-6 flex justify-center gap-x-4">
                                    <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800" onclick="editAnnouncement('{{ hash }}')">
                                        Submit Edit
                                    </button>
                                    <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800" onclick="closeModal('{{ hash }}')">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Announcement Card Container -->
            {% endif %}
        {% endfor %}
    </div>

    <script>
        function openModal(hash) {
            document.getElementById('modal-' + hash).classList.remove('hidden');
        }

        function closeModal(hash) {
            document.getElementById('modal-' + hash).classList.add('hidden');
        }

        function editAnnouncement(hash) {
            const title = document.querySelector(`[data-content="title-${hash}"]`).innerHTML;
            const summary = document.querySelector(`[data-content="summary-${hash}"]`).innerHTML;
            const content = document.querySelector(`[data-content="content-${hash}"]`).innerText; // TODO: Allow for rich text editing
            const data = {
                id: hash,
                title: title.trim(),
                summary: summary.trim(),
                content: content.trim()
            };

            $.ajax({
                url: './crud_announcements',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    alert("Successfully updated the announcement.");
                    window.location.reload();
                },
                error: function(error) {
                    alert("An error occurred while updating the announcement. Contact the developer for more information.");
                    console.error(error);
                }
            });
        }
    </script>
{% endblock %}