{% extends 'user_layout.twig' %}
{% block content %}
    <main class="w-full max-w-md mx-auto">
        <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <div class="p-4 sm:p-7">
                <div class="text-center">
                    <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Register your account</h1>
                    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                        Already registered?
                        <a class="c-links" href="{{ path() }}/login">
                            Login now!
                        </a>
                    </p>
                </div>

                <div class="mt-5">
                    <!-- Registration Form -->
                    <form class="mt-6" action="{{ path() }}/register" method="post">
                        <div class="grid gap-y-4">
                            <!-- Form Group for id -->
                            <div>
                                <div class="flex items-center justify-between">
                                    <label for="id" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Student ID (Eg. D5343)</label>
                                </div>
                                <div class="mt-2">
                                    <input name="id" placeholder="Enter your school number here" value="{{ model.id }}" type="text" class="c-input {{ model.errors.id is not empty ? 'ring-red-500' : 'dark:ring-gray-300' }} focus:{{ model.errors.id is not empty ? 'ring-red-500 focus:border-red-500' : 'ring-blue-500 focus:border-blue-500' }}">
                                    {% if model.errors.id is not empty %}
                                        <div class="mt-1 text-red-500 text-sm first-letter:capitalize">{{ model.errors.id[0] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- End Form Group for id -->

                            <!-- Form Group for name -->
                            <div>
                                <div class="flex items-center justify-between">
                                    <label for="name" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Name</label>
                                </div>
                                <div class="mt-2">
                                    <input name="name" placeholder="Enter your name here" value="{{ model.name }}" type="text" class="c-input {{ model.errors.name is not empty ? 'ring-red-500' : 'dark:ring-gray-300' }} focus:{{ model.errors.name is not empty ? 'ring-red-500 focus:border-red-500' : 'ring-blue-500 focus:border-blue-500' }}">
                                    {% if model.errors.name is not empty %}
                                        <div class="mt-1 text-red-500 text-sm first-letter:capitalize">{{ model.errors.name[0] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- End Form Group for name -->

                            <!-- Form Group for class -->
                            <div>
                                <div class="flex items-center justify-between">
                                    <label for="class" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Class (Eg. 5KB2)</label>
                                </div>
                                <div class="mt-2">
                                    <input name="class" placeholder="Enter your class here" value="{{ model.class }}" type="text" class="c-input {{ model.errors.class is not empty ? 'ring-red-500' : 'dark:ring-gray-300' }} focus:{{ model.errors.class is not empty ? 'ring-red-500 focus:border-red-500' : 'ring-blue-500 focus:border-blue-500' }}">
                                    {% if model.errors.class is not empty %}
                                        <div class="mt-1 text-red-500 text-sm first-letter:capitalize">{{ model.errors.class[0] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- End Form Group for class -->

                            <!-- Form Group for password -->
                            <div>
                                <div class="flex items-center justify-between">
                                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Password</label>
                                </div>
                                <div class="mt-2">
                                    <input name="password" placeholder="Enter your password here" value="{{ model.password }}" type="password" class="c-input {{ model.errors.password is not empty ? 'ring-red-500' : 'dark:ring-gray-300' }} focus:{{ model.errors.password is not empty ? 'ring-red-500 focus:border-red-500' : 'ring-blue-500 focus:border-blue-500' }}">
                                    {% if model.errors.password is not empty %}
                                        <div class="mt-1 text-red-500 text-sm first-letter:capitalize">{{ model.errors.password[0] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- End Form Group for password -->

                            <!-- Form Group for confirm password -->
                            <div>
                                <div class="flex items-center justify-between">
                                    <label for="confirm" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Confirm Password</label>
                                </div>
                                <div class="mt-2">
                                    <input name="confirm" placeholder="Confirm your password here" value="{{ model.confirm }}" type="password" class="c-input {{ model.errors.confirm is not empty ? 'ring-red-500' : 'dark:ring-gray-300' }} focus:{{ model.errors.confirm is not empty ? 'ring-red-500 focus:border-red-500' : 'ring-blue-500 focus:border-blue-500' }}">
                                    {% if model.errors.confirm is not empty %}
                                        <div class="mt-1 text-red-500 text-sm first-letter:capitalize">{{ model.errors.confirm[0] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- End Form Group for confirm password -->

                            <button type="submit" class="c-form-btn">Register your account</button>
                        </div>
                    </form>
                    <!-- End Registration Form -->
                </div>
            </div>
        </div>
    </main>
{% endblock %}